/* color : #336CFF, ff7e40, 333, 5e5e5e*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

header{
    display: flex;
    justify-content: space-around;
    background-color: #336cff;
}
.logo img{
    width: 180px;
}
nav{
    align-content: center;
}
nav ul{
    font-size: 20px;
    gap: 20px;
    display: flex;
    
}
nav ul li{
    
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav li:hover{
    border-bottom: solid 1px #ff7e40;
    transition: all 0.3s ease-in-out;
}

nav ul li a:hover{
    color: #ff7e40;
    transition: all 0.2s ease-in-out;
}
.menu-btn{
    display: none;
}

.hero{
    width: 100%;
    height: 100vh;
    background-image: url(../img/beach-1921598_1920.webp);
    background-size: cover;
    background-position: center center;
    align-content: center;
}

.hero div{
    width: 400px;
    margin: 0 300px;
    padding: 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.356);
    
}

.hero h1{
    color: #336cff;
    font-size: 50px;
}

.hero p{
    color: #5e5e5e;
    font-size: 20px;
}

.hero h2{
    margin-top: 10px;
    color: white;
    font-size: 50px;
}
 .back-to-top{
    transform: rotate(-90deg);
    bottom: 15px;
    right: 15px;
    position: fixed;
}


.back-to-top:hover{
     transform: rotate(90deg);
    transition: all .2s ease-in-out;
}

main section h2{
    text-align: center;
    margin-top: 20px;
    color: #ff7e40;
    font-size: 50px;
}


.articles {
    display: flex;
    margin: 70px;
    gap: 10px;
}

.articles article{
    margin: 10px;
    
}

.articles span{
    display: block;
    width: 400px;
    height: 250px;
    overflow: hidden;
    margin-bottom: 10px;
}

.articles span img{
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    height: 250px;
    
}

.articles h3{
    color:#ff7e40;
    
}

.articles h4{
    font-style: italic;
    font-weight: lighter;
    margin-bottom: 10px;
}

.articles h5{
    color: #5e5e5e;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

.articles p{
    font-weight: bold;
}
.promo{
    width: 100%;
}

.articles_2{
    display: flex;
    gap: 50px;
    margin: 70px;
}

.articles_2 article{
    display: flex;
    gap: 10px;
}

.articles_2 img{
    width: 70px;
}

.articles_2 h3{
    color: #336cff;
}

iframe{
   width:1200px ;
   height: 450px;
   
}

.form{
    display: flex;
    gap: 20px;
}


fieldset{
    border: none;
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    gap: 20px;
    margin-bottom: 10px;
}

fieldset div {
    display: flex;
    flex-direction: column;
}

fieldset div input{
    width: 450px;
    height: 30px;
}
.textarea{
    display: flex;
    flex-direction: column;
}

.textarea textarea{
    width: 920px;
    height: 100px;
}

.btn{
    text-align: end;
    margin: 10px 40px 0 0;
}

button{
    padding: 10px 100px;
    border: none;
    align-content: center;
    background-color: #ff7e40;
    color: white;
}

footer{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    background-color: #333 ;
    color: white;
}

footer h2{
    margin: 10px 0;
    font-size: 18px;
    font-weight: lighter;
}

footer a{
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;

}

@media screen and (max-width: 992px){
    

    .hero div {
    margin: 0 250px;
    }
   
    .articles{
        display: block;
        text-align: center;
    }

    .articles article span{
        width: auto;
      
    }

    span img{
        object-fit: none;
    }
    .articles span img {
        object-fit: none;
    }


    .articles_2{
        display: block;
    }

    .articles_2 article{
        margin-bottom: 30px;
    }

    iframe{
        width: 100%;
    }

    .form{
        display: block;
    }
    
    fieldset{
        width: 100%;
        justify-content: center;
    }
       .textarea {
        margin: 0 30px ;
    }
    .textarea textarea {
    width: 100%;
    height: 100px;
    }

    .btn {
    text-align: center;
    margin: 10px 0 0 0;
    }
 }


@media  screen and (max-width:768px) {

    header{
        display: block;
        text-align: center;
    }
    
           nav{
         right: 0;
         display: block;
    }

    nav ul{
            overflow: hidden;
            clear: both;
            max-height: 0;
            transition: max-height .2s ease-out;
            flex-direction: column;
        }
        .logo{
            margin-top: 50px;
        }

        .header-content{
            display: flex;
            flex-direction: column;
            padding: 0 0 25px 0;
            text-align: center;
        }

        nav .menu-icon {
            cursor: pointer;
            display: inline-block;
            float: none;
            padding: 25px 20px;
            position: relative;
            user-select: none;
        }
        nav .menu-icon .navicon {
            background: rgb(255, 255, 255) ;
            display: block;
            height: 2px;
            position: relative;
            transition: background .2s ease-out;
            width: 18px;
        }
        nav .menu-icon .navicon:before,
        nav .menu-icon .navicon:after {
            background: rgb(255, 255, 255);
            content: '';
            display: block;
            height: 100%;
            position: absolute;
            transition: all .2s ease-out;
            width: 100%;
        }
        nav .menu-icon .navicon:before {
            top: 5px;
        }
        nav .menu-icon .navicon:after {
            top: -5px;
        }
        nav .menu-btn {
            display: none;
        }
        nav .menu-btn:checked ~ ul {
            max-height: 240px;
        }
        nav .menu-btn:checked ~ .menu-icon .navicon {
            background: transparent;
        }
        nav .menu-btn:checked ~ .menu-icon .navicon:before {
            transform: rotate(-45deg);
        }
        nav .menu-btn:checked ~ .menu-icon .navicon:after {
            transform: rotate(45deg);
        }
        nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
        nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
            top: 0;
        }

    .hero div{
        margin: 0 40px;
    }
    footer {
    display: block;
    text-align: center;
    }
    footer h2 {
    margin: 10px 0;
    font-size: 20px;
    font-weight: bold;
    }
}


